allowed_ips = [
  "x.x.x.x/32",
  "y.y.y.y/32",
]

aws_az = "eu-west-2a"

aws_region = "eu-west-2"

aws_profile = "re-build-systems"

dockerversion = "18.03.1~ce-0~ubuntu"

github_admin_users = [
  "admin1",
  "admin2",
  "admin3",
]

github_client_id = "abcdefghij"

github_client_secret = "0123456789"

gitrepo = "https://github.com/alphagov/re-build-systems.git"

hostname_suffix = "build.example.com"

product = "re-build-systems"

server_instance_type = "t2.small"

server_name = "jenkins2"

server_persistent_storage_size = "60"

server_root_volume_size = "40"

ubuntu_release = "xenial-16.04-amd64-server"

worker_instance_type = "t2.medium"

worker_name = "worker"

worker_root_volume_size = "50"
